@import 'partials/colors';

body {
	background-color: $main;
}

.container {
}

/**
 * Home page
 */
.page-heading {
	text-align: center;
	margin-bottom: 100px;
}

ul {
	list-style-type: none;
}

.home-list {
	margin-left: -40px;
	margin-top: 20px;
}

.bio {
	text-align: center;
	margin: 50px;
	font-size: 2em;
}

/**	
 * Profile
 */
.labels-group label {
	width: 75px;
}
input {
	background-color: $lighter;
}

textarea {
	background-color: $lighter !important;
}

/**
 * Matches
 */
.panel-default {
	th {
		width: 200px;
		&:first-of-type {
			width: 25px;
		}
	}
	img {
		float: left;
	}
}

/**
 * Messages
 */
.panel {
	.panel-heading {
		h3 {
			float: left;
		}
	}
}
.panel-body {
	 a {
		float: right;
		margin-left: 10px;
	}
}

.mark-as-read-button {
	float: right;
	margin-top: -22px;
	margin-right: -12px;
	font-size: .75em;
}